<div class="modal fade disallow-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Не одобрение профиля перевозчика</h4>
            </div>

            <div class="modal-body">
                Вы точно хотите не одобрить профиль этого перевозчика?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning js-check disallow" data-dismiss="modal">
                    Не одобрить
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>

        </div>
    </div>
</div>